extend layout

block title
  p.small public feed

block content
  section
    h2 Who's online
    ol#online
      li
        p.notice.nobody Nobody yet.
  section
    h2 Recent messages
    ol#feed
      li
        p.notice.nothing Nothing yet.