extend layout

block title
  p.small public feed

block content
  section
    h2 Who's online
    ol#online
      li.nobody
        p.notice Nobody yet.
  section
    h2 Recent messages
    ol#feed
      li.nothing
        p.notice Nothing yet.