extend layout

block content
  h1
    | I am a participating server and my URL is:&#xa0;
    a(href='#{url}')= url
  section.main
    ol
      li
        span.number 1.
        | Track a user and have them track you to communicate
      li
        span.number 2.
        | Write them a message and set it as public or private
      li
        span.number 3.
        | Broadcast the message to participating servers
      li
        span.number 4.
        | Check for incoming messages on your local server
  section
    p
      small Want to discover interesting conversations?
      a(href='/feed') Take a look at the public feed
      small The public feed contains all one-to-one messages between Keybase users that are not encrypted.
