doctype html
html
  head
    title rvlvvr
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')

  body(class='#{pageType}', data-page='#{pageType}')
    header
      p rvlvvr
      block title
        p.small
          | distributed messaging using&#xa0;
          a(href='http://keybase.io') keybase.io
    .wrapper
      block content

    footer
      section
        p
          | All code is hosted on&#xa0;
          a(href='http://github.com/rvlvvr/rvlvvr-server.git') Github
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/bundle.js')