body, html {
  height: 100%;
  position: relative;
}

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

body header img {
  float: left;
  width: 66px;
}

body.home .wrapper > section {
  border-top: 5px solid #111;
  padding: 20px 0;
  width: 100%;
}

body.home .wrapper > section > * {
  padding: 0 20px;
}

header {
  display: block;
  font-size: 3.5rem;
}

header p {
  display: inline-block;
  float: left;
  padding: 5px 5px 5px 15px;
}

header p a {
  background-color: #111;
  color: #eee;
}

.home section {
  margin: 20px 0;
}

.home section p a {
  font-size: 2rem;
}

.home section p small {
  font-size: 1.2rem;
  display: block;
  margin: 10px 0;
}

a {
  background-color: #38f1b6;
  color: #111;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #888
}

p.small {
  font-size: 1.8rem;
}

section.main {
  margin-bottom: 0;
}

section, footer, header {
  clear: both;
  float: left;
  width: 100%;
}

section.last {
  margin-bottom: 30px;
}

h1 {
  display: inline-block;
  color: #111;
  font-size: 1.8rem;
  margin: 35px 15px 0 10px;
  padding: 0 20px;
}

span.number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-right: 10px;
}

#feed {
  clear: both;
  float: left;
  width: 95%;
  margin-bottom: 50px;
}

#feed li {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  margin: 1px 0;
  position: relative;
  width: 100%;
  padding: 8px 0;
  float: left;
}

#feed li.private .para {
  color: #bbb;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

#feed li.private small {
  border-radius: 100px;
  background-color: #fff;
  color: #777;
  opacity: 0.65;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  right: 2px;
  top: 2px;
}

.feed #feed li .para {
  min-height: 150px;
}

#feed li .para {
  font-size: 1.2rem;
  line-height: 1.4rem;
  min-height: 60px;
  margin-left: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#feed li .avatars {
  float: left;
  height: 100px;
  width: 200px;
  position: relative;
}

#feed li .label {
  background-color: rgba(255, 255, 255, 0.8);
  color: #111;
  font-size: 1rem;
  line-height: 1rem;
  padding: 2px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#feed li .avatars div {
  height: 80px;
  width: 200px;
  overflow: hidden;
  position: relative;
}

#feed li img {
  margin-top: -20px;
}

#feed time {
  background-color: rgba(255, 255, 255, 0.8);
  color: #888;
  bottom: 0;
  font-size: 0.9rem;
  padding: 2px;
  position: absolute;
  right: 0;
}

footer, header p {
  background-color: #111;
  color: #eee;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

footer .inner {
  font-size: 1rem;
  padding: 5px 20px;
}

@media only screen and (max-width: 420px) {
  header {
    font-size: 2.2rem;
  }

  body header img {
    width: 45px;
  }

  header p.small {
    font-size: 0.9rem;
    line-height: 1.1rem;
    width: 150px;
  }

  h1 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 20px 10px 0 10px;
    padding: 0 10px;
  }

  body.home .wrapper > section {
    padding: 20px 0 0 0;
  }

  .main li {
    margin-bottom: 15px;
  }

  span.number {
    font-size: 2.1rem;
  }

  .home section p a {
    font-size: 1.35rem;
  }

  footer .inner {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  section.last {
    margin-bottom: 60px;
  }
}